  <div class="modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filters</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss ('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">


            <!--<div *ngFor="let Items of nameSitesUser">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultChecked" value="1" [(ngModel)]="Items.select"
                       [attr.checked]="Items.select==true?true:null">
                <label class="custom-control-label" for="defaultChecked">{{Items.nameSite}}</label>
              </div>
            </div>
          </div>-->



              <div *ngFor="let Items of nameSitesUser">
                <label class="form-check-label margin_left_label">
                  <input class="form-check-input" type="checkbox" name="brand" [(ngModel)]="Items.select"
                         [attr.checked]="Items.select==true?true:null">
                  {{Items.nameSite}}
                </label>
              </div>
            </div>


            <div class="col">

              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" [value]="true" [(ngModel)]="showArticle" name="defaultExampleRadios" [attr.checked]="showArticle==true?true:null">
                <label class="custom-control-label" for="defaultUnchecked">Show</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultChecked" [value]="false" [(ngModel)]="showArticle" name="defaultExampleRadios" [attr.checked]="showArticle==false?true:null">
                <label class="custom-control-label" for="defaultChecked">Hide</label>
              </div>
            </div>
            <!--<div class="col">

    <div class="custom-control custom-radio">
      <input name="look" type="radio" class="custom-control-input" id="defaultUnchecked" />
      <p class="form-check-label margin_left_label">
        show
      </p>
    </div>

    <p class="form-check-label margin_left_label">
      <input name="look" type="radio" class="form-check-input"/>hide
    </p>
  </div>-->
          </div>


        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="saveFilters()">Save</button>
        </div>     
    </div>
  </div>
</div>
