.title {
  background-color: #a7b8bb;
  border: 1px solid #a7b8bb;
}
.content {
  background-color: #D6DDDF;
}
.close_down {
  background-color: #E3E6E6;
}
.close_button {
  background-color: #ACC1C5;
  border: 1px solid #ACC1C5;
}
.modal-dialog{
  max-width:800px;
}
