<!DOCTYPE html>
<html>
<body>
  <div *ngIf="!isLoaded; then showLoad else showContent"></div>
  <ng-template #showLoad>
    <mat-spinner *ngIf="!isLoaded" mode="indeterminate" class="center"></mat-spinner>
  </ng-template>
  <ng-template #showContent>
    <div *ngFor="let site of sites;let numberSite = index" class="back_color_block">
      <div class="main_block">
        <div class="name_site_block">
          <h3 class="title_site_name_padding">
            {{site.nameSite}}
          </h3>
        </div>
        <div *ngIf="site.articles.length > 0; then showSite else showArticlesNotFoundMessage"></div>

        <ng-template #showSite>

          <div class="container">
            <div class="row">
              <div class="col-sm-4 col_sm_4 small_block a_padding" *ngFor="let article of site.articles;let numberArticle = index">
                <div class="a_padding">
                  <a href={{article.link}} target="_blank" (click)="saveShowenArticle(article.id)">
                    {{article.title}}
                  </a>
                </div>
                <div class="richt_up sticky-top">
                  <p class="cursor_pointer" (click)="deleteArticle(article.id, numberSite, numberArticle, site.idLastArticle, site.siteId)">&#10006;</p>
                </div>
                <p>{{article.partContent}}</p>
                <br>
                <button class="btn btn-info btn_more richt_down" (click)="open(article)">More</button>

              </div>
            </div>
          </div>
          <form>
            <button (click)="getMoreArticles(site.siteId,numberSite)" type="button" class="btn btn-secondary btn_more_articles center">More articles</button>
          </form>

        </ng-template>
      </div>
      <br>
      <ng-template #showArticlesNotFoundMessage>
        <{{article.nameSite}}>
          <div class="main_block">
            <p>Articles Not found</p>
          </div>
      </ng-template>
    </div>
  </ng-template>
</body>
</html>
