.main_block {
  width: 100%;
  padding: 10px;
  background-color: #C9D5D7;
  border-radius: 20px;
}
li {
  list-style-type: none;
  background-color: #ececec;
}
#content {
  width: 100%;
  height: auto;
}
  #content ul {
    column-count: 3;
    margin-left: -35px;
  }
.small_block {
  background-color: #DBE1E2;
  color: #7C969C;
  border: 3px solid #BECCD0;
  border-radius:20px 20px 7px 20px;
}
.location_link {
  text-align: center;
}
.ul_height{
  height:100%;
}
.ul_column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  height: 100%;
  margin-left: -35px;
  -webkit-column-break-inside: avoid;
}
.richt_down {
  position: absolute;
  bottom: 0;
  right: 0;
}
.center {
  text-align: center;
  margin:0 auto;
  display: inherit
}
.richt_up{
position: absolute;
right: 0;
height: 50%;
}
.cursor_pointer{
  cursor:pointer;
}
.name_site_block {
  background-color: #B8C9CC;
  color: #325158;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
a {
  color: #325158;
}
body {
  background-color: #F8F3F3;
}
.btn_more {
  background-color: #94B0B7;
  border-color: #94B0B7;
}
.btn_more_articles {
  background-color: #849FA5;
  border-color: #849FA5;
}
